.country{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px;
    background-color: rgb(110, 153, 235);
    width: 200px;
    font-size: small;
    font-weight: bolder;
    color: black;
    margin-top: 10px;
    height: 300px;
    
}


.name{
    font-weight: 700;
}

.card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 400;
}

.getInfo{
    font-weight: 500;
    text-decoration: none;
    color: rgb(79, 56, 122);
}

.link{
    text-decoration: none;
}
 
.card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, e, e, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.img{
    width: 330px;
    height: 220px;
}
