div {
    height: 100px;
}

p.danger {
    color: red;
    font-size: 10px;
  }
  
input.danger {
    border: 2px solid red;
  }

.block{
    cursor: not-allowed;
    background-color: rgb(153, 153, 153) !important;
    pointer-events:none;
}
