.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.pageNumbers{
    list-style: none;
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

.pageNumbers li{
    padding: 10px;
    border: solid black;
    cursor: pointer;
}
/* .pageNumbers li:hover{
    background-color: black;
    color: white;
} */

.active{
    background-color: black;
    color: white;
}

.pageNumbers li button{
    background-color: transparent;
    border: none;
    font-size: 110%;
    cursor: pointer;
}

.pageNumbers li button:hover{
    background-color: black;
    color: white;
}

.countries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

