.country{
    border: 1px;
    background-color: gray;
    width: 200px;
    font-size: small;
    font-weight: bolder;
    color: black;
    margin-top: 10px;
    height: 400px;
    
}

.img{
    width: 50px;
}